<div class="container">
  <%= render 'shared/page_title', title: 'All Chefs' %>

  <ul class="nav nav-tabs">
    <li>
      <%= link_to "Recipes", recipes_path %>
    </li>
    <li class="active">
      <%= link_to "Chefs", chefs_path %>
    </li>
  </ul>

  <%= will_paginate %>

  <br/>

  <% @chefs.each do |c| %>
    <div class="row">

      <div class="pull-right">
        <%= link_to (gravatar_for c, size: 200), chef_path(c) %>
      </div>

      <%= link_to "Edit Chef", edit_chef_path(c) %>
      <br/>
      Chefname: <%= c.chefname %>
    </div>
  <% end %>

  <%= will_paginate %>

</div>
