<div class="container">

  <%= render 'shared/page_title', title: @recipe.name %>

  <div class="row">
    <div class="col-md-4 pull-right center">
      <%= link_to (gravatar_for @recipe.chef, size: 200), chef_path(@recipe.chef) %>
      <p>
        <h5><%= @recipe.chef.chefname %></h5>
      </p>
    </div>
    <div class="col-md-8">
      <% if logged_in? && @recipe.chef == current_user %>
        <%= link_to "Edit recipe", edit_recipe_path(@recipe) %>
      <% end %>
      <h3>
        <%= @recipe.summary %>
      </h3>
      <div class="show_recipe">
        <%= image_tag(@recipe.picture.url, class: 'gravatar') if @recipe.picture? %>
      </div>
      <div class="well">
        <p>Style: <%= render @recipe.styles %></p>
        <p>Ingredients: <%= render @recipe.ingredients %></p>
        <p>
          <strong>
            Steps:
          </strong>
        </p>
        <%= simple_format(@recipe.description) %>
        <%= render 'up_down_vote', obj: @recipe %>
      </div>
    </div>
  </div>

  <h5><%= link_to 'Return to all Recipes', recipes_path, class: "btn btn-warning btn-small" %></h5>

</div>
